.userlogo{
    position: absolute;
    box-sizing: border-box;
    margin-top: -36px;
    margin-left: 150px; 
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #EBD8FF;
    overflow: hidden;  
    box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06), inset 0px -2.19582px 4.39163px #AE7BE3, inset 0px 4.39163px 3.29372px #FBF8FF;

    
    &_img{
      max-width: 100%;
      border-radius: 50%;
      height: auto;
    }

    ;
}