.userlogo{
    position: absolute;
    box-sizing: border-box;
    margin-top: -36px;
    margin-left: 150px; 
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #EBD8FF;
    background-color: #5736A3;
    ;
}