@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: local('Montserrat-Medium'),
    url('../styles/fonts/Montserrat-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: local('Montserrat-SemiBold'),
    url('../styles/fonts/Montserrat-SemiBold.ttf') format('truetype');
  }
  